:root{
  --primary:rgb(107, 156, 152);
  --header: rgb(14, 184, 223);
  --textcolor:rgb(89, 33, 221);
  --transition:all 0.3s ease;
}

/* GLOBAL RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
 
body{
  font-family: 'lucida Sans','Lucida Sans Regular' , 'Lucida Grande' , 'Lucida Sans unicode' , Geneva , Verdana , sans-serif;
  background-color:var(--primary) ;
  overflow-x: hidden;

}

/* HEADER SECTION */
header{
  background-color: var(--header);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerimg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid red 2px;
}

.logotext{
  color: var(--textcolor);
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: bold;
}

header nav ul{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  text-align: right;
}

header nav ul li{
  list-style: none;
}

header nav ul li a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition:var(--transition) ;
  padding: 8px 12px;
  border-radius: 5px;
}

/* hover background effect */

header nav ul li a:hover{
  background-color: white ;
  color: var(--header);
}

/* HAMBURGER MENU  */

.hamburger{
  display: none;
  flex-direction: column;
  background: transparent;
  border:none;
  cursor: pointer;
  padding: 6px;
  z-index: 100;
}

.hamburger-line{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: var(--transition);
}

/* hamburger Active (X shape)   */

.hamburger.active .hamburger-line:nth-child(1){
  transform: rotate(45deg) translate(5px , 5px);

}
.hamburger.active .hamburger-line:nth-child(2){
  opacity: 0;
}
.hamburger.active .hamburger-line:nth-child(3){
  transform: rotate(45deg) translate(7px -6px);
}

/* HERO SECTION */

.hero{
  text-align: left;
  margin: 40px 0 20px;
  padding-left:20px ;
}

.hero h2{
  font-size: 2rem;
  font-weight: bold;
  color: var(--transition);
}

.hero .blue{
  color: blue;
}

.tagline{
  font-size: 1.2rem;
  color: #444;
}


/* GALLERY SECTION */
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery img:hover{
  transform: scale(1.05);

}

/* DISPATCH SECTION */
.dispatch{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  background-color: rgb(53, 82, 105);
  padding: 20px 20px ;
  margin-top: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.dispatchtext h3{
  margin: 10px 0;
  color: var(--textcolor);
}

.dispatch img{
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* FOOTER */

.copyright{
  background-color: var(--textcolor);
  color: white;
  text-align: center;
  padding: 10px 0;

}

@media (max-width : 768px){
  header{
    padding: 10px 20px;
  }

  header nav ul{
    display: none;
    flex-direction: column;
    background-color: var(--header);
    position: absolute;
    top:70px;
    right: 0;
    width: 200px;
    text-align: right;
    padding: 20px;
    border-radius: 0 0 0 10px;
  }

  .menu.active ul {
    display: flex;
  }

  .menu ul{
    transition: all 0.3s ease;

  }

  .hamburger{
    display: flex;
    width: 58%;
    align-items: flex-end;
    float: left;
  }


  .dispatch{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
  }

  .dispatch img{

    width: 100%;
    height: auto;

  }
}